@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --maincolor: red;
    --white: #ffffff;
    --black: #000;
}


/* header section */

.header {
    background-color: var(--maincolor);
}

.navbar-nav>li>a.active,
.navbar-nav>li>a:focus {
    margin-top: 7px;
    line-height: 10px;
    display: block;
    margin-top: 7px;
    text-align: center;
    background-color: var(--white);
    color: var(--black) !important;
    border-radius: 5px;
}

ul>li>a {
    color: var(--white) !important;
}


/* banner section */

.banner {
    margin-top: -16px;
    background-color: var(--maincolor);
    color: white;
}


/* card section */

.card-image {
    border-radius: 50px;
    background-color: #5499C7;
}

.btn-bg-clr {
    background-color: var(--maincolor);
    color: white;
}